* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto 0 auto;
}

.header {
    display: flex;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}



.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.form__browse {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__browse p {
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.form input {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

.logo p {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.logo p span {
    font-weight: 900;
    color: #f16d7f;
}

a.logo {
    text-decoration: none;
}

.form button {
    /* background-color: transparent; */
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: none;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}

.cart {
    margin-right: 26px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu__link {
    padding: 20px;
    display: block;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}

.promo {
    height: 614px;
    background-color: #e8e8e8;
}

.promo__content {
    height: 100%;
    background-image: url(img/promo_img.jpg);
    background-position: -195px -51px;
    background-repeat: no-repeat;
}

.promo__text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: 224px;
    float: left;
}

.promo__text_big {
    font-size: 60px;
}

.promo__text_mini {
    font-size: 40px;
}

.promo__text_mini span {
    color: #f16d7f;
}

.offer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.offer__content div:first-child {
    margin-bottom: 20px;
}

.offer__content_big {
    width: 560px;
    height: 542px;
}

.offer__content_mini {
    width: 560px;
    height: 261px;
}

.offer__content_big_img1 {
    background-image: url(img/collection1.png);
}

.offer__content_big_img2 {
    background-image: url(img/collection3.png);
}

.offer__content_big_img3 {
    background-image: url(img/collection2.png);
}

.offer__content_big_img4 {
    background-image: url(img/collection4.png);
}

.offer__text {
    background-color: #ffffff;
    padding: 16px 20px;
    float: left;
    margin-top: 26px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.for_men {
    font-size: 30px;
    color: #f16d7f;
}

a.button {
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #f16d7f;
}

.fetured_header {
    text-align: center;
    padding-bottom: 60px;
}

.fetured_header h2 {
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;

}

.fetured_header p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}

.first_cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.second_cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 97px;
}

.first_item {
    width: 261px;
    height: 40px;
}

.second_item {
    width: 261px;
    height: 40px;
}

.first_item_1 {
    background-image: url(img/card1.png);
    background-repeat: no-repeat;
}

.first_item {
    padding-top: 300px;
}

.first_item_2 {
    background-image: url(img/card2.png);
    background-repeat: no-repeat;
}

.first_item_3 {
    background-image: url(img/card4.png);
    background-repeat: no-repeat;
}

.first_item_4 {
    background-image: url(img/card4.png);
    background-repeat: no-repeat;
}

.second_item {
    padding-top: 300px;
}

.second_item_1 {
    background-image: url(img/card5.png);
    background-repeat: no-repeat;
}

.second_item_2 {
    background-image: url(img/card6.png);
    background-repeat: no-repeat;
}

.second_item_3 {
    background-image: url(img/card7.png);
    background-repeat: no-repeat;
}

.second_item_4 {
    background-image: url(img/card8.png);
    background-repeat: no-repeat;
}

.first_item p, .second_item p {
    padding-left: 14px;
    padding-bottom: 17px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.second_item .pink_price, .first_item .pink_price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.button_browse {
    text-align: center;
}